body{
    --color-primary: whitesmoke;
    --color-secondary: #00bcd4;
    font: 400 16px 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25rem;
    background-color: rgb(33, 35, 37);
    color: var(--color-primary);
}
b{
    color: var(--color-secondary);
}
.navbar{
    display: flex;
    align-items: center;
}

h2{
    line-height: unset;
    margin-bottom: 0px;
}

.choices__inner {
    border: unset !important;
    background-color: rgb(33, 35, 37) !important;
}
.choices__input {
    background-color: transparent !important;
    color: var(--color-secondary);
}
.choices__list--single{
    color: var(--color-secondary);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: var(--color-secondary) !important;
}
.choices__list--dropdown {
    position: relative !important;
    background-color: rgb(33, 35, 37) !important;
    border: 1px solid rgb(20, 25, 27) !important;
}
.has-no-choices {
    display: none !important;
}

.choices__item{
    animation: bounceIn !important; /* referring directly to the animation's @keyframe declaration */
}


body::-webkit-scrollbar-track
{
	display: none;
}
body::-webkit-scrollbar
{
	display: none;
}

body::-webkit-scrollbar-thumb
{
	display: none;
}

.choices__list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
.choices__list::-webkit-scrollbar
{
	width: 8px;
}

.choices__list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--color-secondary);
}

#settingsContainer{
    display: none;
}